<div class="slap-page choose-slapexpert-page" scroll-top>

    <div class="panel panel-default">

        <div class="panel-body">
        	<div class="personality-choose" ng-hide="true">
	        	<div class="choose-slapexpert-sub-header" align="center">
		    		<h1 class="md-display-1">I want my slapexpert to be...</h1>
		    		<h1 class="md-subhead">Select 3 words that describe your ideal slapexpert</h1>
		    	</div>
	    		<div class="personality-content">
				  <div class="col-xs-6 personality-item" ng-repeat="item in personalities" ng-click="selectPersonality(item)">
				    <div class="personality-circle" ng-class="{'selected': isPersonalitySelected(item)}"></div>
				    <div class="personality-name" ng-class="{'disabled': isPersonalityDisabled(item)}">{{item}}</div>
				  </div>
				</div>
				<div style='clear: both'></div>
				<div class="choose-slapexpert-sub-footer" align="center">
					<md-button class="md-primary select-personality1-continue" ng-if="isActiveStep('SELECT_PERSONALITY1')" ng-disabled="!current_selected_personality" ng-click="moveToNextStep()">Continue</md-button>
					<md-button class="md-primary select-personality2-continue" ng-if="isActiveStep('SELECT_PERSONALITY2')" ng-disabled="!current_selected_personality" ng-click="moveToNextStep()">Select3</md-button>
					<md-button class="md-primary select-personality3-continue" ng-if="isActiveStep('SELECT_PERSONALITY3')" ng-disabled="!current_selected_personality" ng-click="moveToNextStep()">Continue</md-button>
				</div>
			</div>
			<div class="slapexpert-choose">
				 <div class="choose-slapexpert-sub-header" align="center">
		    		<h1 class="md-display-1">Find your slapexpert!</h1>
		    		<h1 class="md-subhead">These are your best maches</h1>
				 </div>
				 <div class="slapexpert-choose-content">
			 		<img class="slapexpert-image" src="/images/default.jpg">
			 		<div class="slapexpert-name">Jim Smith</div>
			 		<div class="profile">
			 			<div class="biograph" ng-if="selected_profile_switch == 1">
			 				<div class="profile-sub-header">Biography</div>
			 				<p>
			 					The header lines were kept separate because they looked like mail
								headers and I have mailmode on.  The same thing applies to Bozo's
								quoted text.  Mailmode doesn't screw things up very often, but since
								most people are usually converting non-mail, it's off by default.
							</p>
			 			</div>
			 			<div class="career_hightlights" ng-if="selected_profile_switch == 2">
			 				<div class="profile-sub-header">Career Highlights</div>
			 				<p>
			 					The header lines were kept separate because they looked like mail
								headers and I have mailmode on.  The same thing applies to Bozo's
								quoted text.  Mailmode doesn't screw things up very often, but since
								most people are usually converting non-mail, it's off by default.
							</p>
			 			</div>
			 			<div class="profile-switches">
			 				<div class="profile-switch biograph-switch" ng-class="{'selected': selected_profile_switch == 1}" ng-click="changeProfileSwitch(1)">
			 				</div>
			 				<div class="profile-switch career_hightlights_switch" ng-class="{'selected': selected_profile_switch == 2}" ng-click="changeProfileSwitch(2)">
			 				</div>
			 			</div>
		      <carousel links="links"></carousel>			 			
			 		</div>
				 </div>

				 <div class="choose-slapexpert-sub-footer">

				 </div>
			</div>
<!-- 			<md-nav-bar md-selected-nav-item="currentNavItem">
			  <md-nav-item md-nav-click="goto('page1')" name="page1">
			    Page One
			  </md-nav-item>
			  <md-nav-item md-nav-href="#page2" name="page3">Page Two</md-nav-item>
			  <md-nav-item md-nav-sref="page3" name="page2">Page Three</md-nav-item>
			  <md-nav-item md-nav-sref="app.page4" sref-opts="{reload: true, notify: true}" name="page4">
			    Page Four
			  </md-nav-item>
			</md-nav-bar> -->

        </div>
    </div>

</div>

<slap-footer send="sendData" forward="forward"></slap-footer>