<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="text-right">
                    </div>
                    <hr>
                    <div grid-data class='slap-grid' id="users-grid"
                    grid-options="gridData.gridOptions" grid-actions="gridData.gridActions" ng-if="dataReady">
                        <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                            <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                                <span>{{filtered.length}} items total</span>
                            </div>
                            <div flex-gt-sm="75" flex-xs="100">
                                <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                    <grid-pagination max-size="5"
                                        boundary-links="true"
                                        class="pagination mdl-shadow--2dp"
                                        ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                        total-items="paginationOptions.totalItems"
                                        ng-model="paginationOptions.currentPage"

                                        items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                                    <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                        <md-select md-container-class="items-per-page" ng-change=getItemPerPage(paginationOptions.itemsPerPage) ng-init="paginationOptions.itemsPerPage = 10" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()" aria-label="page-selector">             
                                            <md-option value="5">5</md-option>
                                            <md-option value="10">10</md-option>
                                            <md-option value="20">20</md-option>
                                            <md-option value="50">50</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div>
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp table table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <th sortable="name" class="sortable">
                                            <span>Name</span>
                                        </th>
                                        <th sortable="receiver" class="sortable">
                                            <span>Receiver</span>
                                        </th>
                                        <th sortable="state" class="sortable">
                                            <span>State</span>
                                        </th>
                                        <th class="option">
                                        </th>
                                </thead>
                                <tbody>
                                    <tr grid-item>
                                        <td>
                                            <a ui-sref="emailtemplates.item({emailtemplate_name:item.templateName})">
                                                {{item.name}}
                                            </a>
                                        </td>
                                        <td>
                                            {{item.receiver}}
                                        </td>
                                        <td>
                                            {{item.state ? 'Activated' : 'Deactivated'}}
                                        </td>
                                        <td>
                                            <a ui-sref="emailtemplates.item({emailtemplate_name: item.templateName})">
                                                <span class="glyphicon glyphicon-edit"></span> 
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                    
                </div>
            </div>


        </div>
    </div>
</div>