<div class="container m-t-xs-50">
    <div class="row world-row">
        <div class="panel panel-world panel-default animated fadeIn">
        	<div class="col-sm-6">
                <button class="btn-world" ng-click="goToConnect()">
                    <h2>Connect</h2>
                    <p>Connect with small business owners and opportunities from around the world.</p>
                </button>	        		
        	</div>
        	<div class="col-sm-6">
                <button class="btn-world" ng-click="goToConcierge()">
                    <h2>Concierge</h2>
                    <p>Get 24/7 support from our SLAPmanager Team.  Ask any question, any time.</p>
                </button>	        		
        	</div>
        	<div class="col-sm-6">
                <button class="btn-world" ng-click="goToBenefits()">
                    <h2>Benefits</h2>
                    <p>See a list of featured Benefits and Opportunities that we have curated for you.</p>
                </button>	        		
        	</div>
        	<div class="col-sm-6">
                <button class="btn-world" ng-click="goToChallenge()">
                    <h2>Challenge!</h2>
                    <p>Learn from fellow SLAPsters and accept our Challenge(s) to grow your business and WIN!</p>
                </button>	        		
        	</div>
        </div>
    </div>
</div>