.slap-status {
	h3 {
		text-align: center;
	}
	.status-list {
		max-height: 200px; 
		overflow-y: scroll; 
		overflow-x: hidden; 
		padding: 10px 30px;
		.slapster-status {
			padding: 5px;
		}	
	}
	.slapstatus-read-more {
		button {
			float: right;
		}
	}
}
